// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
// Add any SASS variables that are specific to this file here.
$item: '.item';

// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
// Rules, logic, and anything else that can be compiled to "vanilla" CSS goes here.
#{$item} {
    width: 100px;
    height: 100px;
    display: inline-block;

    background: #EFEFEF;
    border: 1px solid #666;
    margin: 0 10px 10px 0;

    text-align: center;

    & > * {
        line-height: 98px;
        margin: 0;
    }
}